In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/scikit-learn-videos/master/data/Advertising.csv')

In [4]:
data.keys()

Index(['Unnamed: 0', 'TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [5]:
data

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [62]:
X = data.iloc[:,1:4]

In [63]:
X

        TV  Radio  Newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [64]:
y = data.iloc[:,4:]

In [65]:
y

     Sales
0     22.1
1     10.4
2      9.3
3     18.5
4     12.9
..     ...
195    7.6
196    9.7
197   12.8
198   25.5
199   13.4

[200 rows x 1 columns]

In [67]:
from sklearn.linear_model import LinearRegression

In [68]:
from sklearn.model_selection import train_test_split

In [69]:
X = np.matrix(X)
y = np.matrix(y)

In [70]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size= 0.3, random_state = 100)

In [71]:
linReg = LinearRegression()

In [72]:
linReg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [73]:
linReg.score(X_train,y_train)

0.892804847190598

In [74]:
linReg.score(X_test,y_test)

0.9058622107532248

In [76]:
linReg.intercept_,linReg.coef_

(array([2.65278967]), array([[0.0454256 , 0.18975773, 0.00460308]]))