In [13]:
p = [1,2,3,4,5,6]
t = tuple(p)

t = p
p
t
t[2] = 12
t
p
import copy
p = copy.copy(t)
p[2] = 10
p

[1, 2, 10, 4, 5, 6]

In [14]:
t

[1, 2, 12, 4, 5, 6]

In [15]:
t[3] = [11,13,14,99]
t

[1, 2, 12, [11, 13, 14, 99], 5, 6]

In [17]:
p = t
p

[1, 2, 12, [11, 13, 14, 99], 5, 6]

In [18]:
t[3][3] = 1000
t

[1, 2, 12, [11, 13, 14, 1000], 5, 6]

In [19]:
p

[1, 2, 12, [11, 13, 14, 1000], 5, 6]

In [20]:
t = copy.deepcopy(p)
t

[1, 2, 12, [11, 13, 14, 1000], 5, 6]

In [21]:
p

[1, 2, 12, [11, 13, 14, 1000], 5, 6]

In [22]:
t[3][3] = 123456
t

[1, 2, 12, [11, 13, 14, 123456], 5, 6]

In [23]:
p

[1, 2, 12, [11, 13, 14, 1000], 5, 6]

In [36]:
a = int(input('enter value of a:'))
b = int(input('enter value of b:'))
a,b = b,a
print('now a is',a )
print('now b is',b )

enter value of a:2
enter value of b:3
now a is 3
now b is 2

In [38]:
a = int(input('enter value of a:'))
b = int(input('enter value of b:'))
a = a +b
b =a - b
a = a -b
print('a is', a)
print('b is', b)

enter value of a:2
enter value of b:3
a is 3
b is 2

In [2]:
t1 = float(input('enter teperature value in degree celcius:'))
F = (9/5)*t1 + 32
print('temperature value in farehiet is',F)

enter teperature value in degree celcius:23
temperature value in farehiet is 73.4

In [30]:
def add(x,y):
    return x + y

def multiply(x,y):
    return x *y 

def divide(x,y):
    return x/y

def substraction(x,y):
    return x - y

print('1,add')
print('2,multiply')
print('3,divide')
print('4,substraction')
choice = input('enter your choice 1/2/3/4')
print(choice)

n1 = float(input('enter x:'))
n2 = float(input('enter y:'))

if choice == '1':
    print('the value is:',add(n1,n2))
elif choice == '2':
    print('the value is:',multiply(n1,n2))
elif choice == '3':
    print('the value is:', divide(n1,n2))
elif choice == '4':
    print('the value is:',divide(n1,n2))
else:
    print('invalid input')

1,add
2,multiply
3,divide
4,substraction
enter your choice 1/2/3/42
2
enter x:12
enter y:34
the value is: 408.0

In [22]:
name = input('enter name:')
for i in range(len(name)):
    if i%2 == 0:
        print(name[i],'is present at even index')

enter name:devdnra
d is present at even index
v is present at even index
n is present at even index
a is present at even index

In [1]:
def product(x,y):
    return x*y 

def add(x,y):
    return x + y

n1 = float(input('enter x;'))
n2 = float(input('enter y:'))

if n1 * n2 >= 1000 :
    print('THE VALUE IS', product(n1,n2))
    
else:
    print('the value is',add(n1,n2))

enter x;54
enter y:10
the value is 64.0

In [3]:
for i in range(1500,2701):
    if i % 5 == 0 and i % 7 == 0:
        print(i,end = ' :::')

1505 :::1540 :::1575 :::1610 :::1645 :::1680 :::1715 :::1750 :::1785 :::1820 :::1855 :::1890 :::1925 :::1960 :::1995 :::2030 :::2065 :::2100 :::2135 :::2170 :::2205 :::2240 :::2275 :::2310 :::2345 :::2380 :::2415 :::2450 :::2485 :::2520 :::2555 :::2590 :::2625 :::2660 :::2695 :::

In [8]:
for i in range(0,7):
    if i == 3 or i == 6:
        continue
    print(i)

0
1
2
4
5

In [1]:
for num in range(100,401):
    s = str(num)
    if int(s[0])%2==0 and int(s[1])%2 ==0 and int(s[2])%2 == 0:
        print(num,end = ' ,')

200 ,202 ,204 ,206 ,208 ,220 ,222 ,224 ,226 ,228 ,240 ,242 ,244 ,246 ,248 ,260 ,262 ,264 ,266 ,268 ,280 ,282 ,284 ,286 ,288 ,400 ,

In [21]:
n = int(input('enter the number of rows:'))

for i in range(n):
    print('*' *(i+1))
    
for i in range(n):
    print('*'* (n -i))

enter the number of rows:6
*
**
***
****
*****
******
******
*****
****
***
**
*

In [1]:
message = 'It was a cold April,and thw clock was sticking thirteen'
d = {}
for ch in message:
    if ch in d.keys():
        d[ch] = d[ch]+ 1
    else:
        d[ch] = 1
        
print(d)

{'I': 1, 't': 5, ' ': 9, 'w': 3, 'a': 4, 's': 3, 'c': 4, 'o': 2, 'l': 3, 'd': 2, 'A': 1, 'p': 1, 'r': 2, 'i': 4, ',': 1, 'n': 3, 'h': 2, 'k': 2, 'g': 1, 'e': 2}

In [3]:
a = {'Alice':'1 Jan','Bob':'3 May','Carlos':'10 Sep'}
while True:
    name = input('enter name:')
    if name in a:
        b = input('enter bday:')
        print('hi',name,'ur bday is on',b)
        continue
    if name not in a:
        break

enter name:

In [2]:
a = {'Alice':'1 Jan','Bob':'3 May','Carlos':'10 Sep'}
a.values()

dict_values(['1 Jan', '3 May', '10 Sep'])

In [3]:
a.items()

dict_items([('Alice', '1 Jan'), ('Bob', '3 May'), ('Carlos', '10 Sep')])

In [4]:
a.keys()

dict_keys(['Alice', 'Bob', 'Carlos'])

In [5]:
a

{'Alice': '1 Jan', 'Bob': '3 May', 'Carlos': '10 Sep'}

In [6]:
a

{'Alice': '1 Jan', 'Bob': '3 May', 'Carlos': '10 Sep'}

In [15]:
name = input('enter name:')
if name in a.keys():
    b = input('enter dob:')
    if b in a.values():
        print('Hi',name,'ur dob is on',b)

enter name:Alice
enter dob:1 jan

In [18]:
dob = input('enter ur DOB:')
if dob in a.keys():
    print('it is there')
else:
    print('not there')

enter ur DOB:zoe
not there

In [10]:
d = {'captain america':'12 march','iron man':'12 jan','groot':'23 april'}
d

{'captain america': '12 march', 'iron man': '12 jan', 'groot': '23 april'}

In [23]:
d = {'Alice':'1 Jan','Bob':'3 May','Carlos':'10 Sep'}
n = input('enter name:')
for(name,dob)in d.items():
    if n == name:
        print('hi',n,'ur dob is',dob)
        break
    if n!= name:
        break
if n != name:
    db = input('enter dob:')
    d.__setitem__(n,db)
    print(d)

enter name:john
enter dob:15 dec
{'Alice': '1 Jan', 'Bob': '3 May', 'Carlos': '10 Sep', 'john': '15 dec'}

In [24]:
d

{'Alice': '1 Jan', 'Bob': '3 May', 'Carlos': '10 Sep', 'john': '15 dec'}

In [ ]:
lst = d.keys()
print('welcome to the bday')
for x in lst:
    print(x)
choice = input('whose bday u want to look :')
if choice in lst:
    print('{} bday')